{{ button_type }}(
onPressed: {% if on_pressed %}{{ on_pressed }}{% else %}null{% endif %},
{% if style_properties %}
    style: {{ button_type }}.styleFrom(
    {% if style_properties.backgroundColor %}backgroundColor: {{ style_properties.backgroundColor }},{% endif %}
    {% if style_properties.foregroundColor %}foregroundColor: {{ style_properties.foregroundColor }},{% endif %}
    {% if style_properties.elevation %}elevation: {{ style_properties.elevation }},{% endif %}
    {% if style_properties.padding %}padding: {{ style_properties.padding }},{% endif %}
    {% if style_properties.minimumSize %}minimumSize: {{ style_properties.minimumSize }},{% endif %}
    {% if style_properties.maximumSize %}maximumSize: {{ style_properties.maximumSize }},{% endif %}
    {% if style_properties.side %}side: {{ style_properties.side }},{% endif %}
    {% if style_properties.shape %}shape: {{ style_properties.shape }},{% endif %}
    ),
{% endif %}
child: {% if child %}{{ child }}{% else %}Text(
    {% if use_translation %}
        AppLocalizations.of(context)!.{{ translation_key }},
    {% else %}
        '{{ text }}',
    {% endif %}
    {% if text_style %}
        style: TextStyle(
        {% if text_style.fontSize %}fontSize: {{ text_style.fontSize }}.0,{% endif %}
        {% if text_style.fontWeight %}fontWeight: FontWeight.{{ text_style.fontWeight }},{% endif %}
        {% if text_style.color %}color: {{ text_style.color }},{% endif %}
        ),
    {% endif %}
    ){% endif %},
)