Row(
{% if mainAxisAlignment %}mainAxisAlignment: {{ mainAxisAlignment }},{% endif %}
{% if mainAxisSize %}mainAxisSize: {{ mainAxisSize }},{% endif %}
{% if crossAxisAlignment %}crossAxisAlignment: {{ crossAxisAlignment }},{% endif %}
{% if textDirection %}textDirection: {{ textDirection }},{% endif %}
{% if verticalDirection %}verticalDirection: {{ verticalDirection }},{% endif %}
{% if textBaseline %}textBaseline: {{ textBaseline }},{% endif %}
children: [
{% for child in children %}
    {{ child }},
{% endfor %}
],
)