Scaffold(
{% if appBar %}
    appBar: AppBar(
    {% if appBar.title %}
        title: {% if appBar.use_translation %}Text(AppLocalizations.of(context)!.{{ appBar.title_key }}){% else %}Text('{{ appBar.title }}'){% endif %},
    {% endif %}
    {% if appBar.backgroundColor %}backgroundColor: {{ appBar.backgroundColor }},{% endif %}
    {% if appBar.foregroundColor %}foregroundColor: {{ appBar.foregroundColor }},{% endif %}
    {% if appBar.elevation %}elevation: {{ appBar.elevation }},{% endif %}
    {% if appBar.centerTitle is defined %}centerTitle: {{ appBar.centerTitle|lower }},{% endif %}
    {% if appBar.toolbarHeight %}toolbarHeight: {{ appBar.toolbarHeight }},{% endif %}
    {% if appBar.leading %}leading: {{ appBar.leading }},{% endif %}
    {% if appBar.actions %}
        actions: [
        {% for action in appBar.actions %}
            {{ action }},
        {% endfor %}
        ],
    {% endif %}
    {% if appBar.bottom %}bottom: {{ appBar.bottom }},{% endif %}
    {% if appBar.flexibleSpace %}flexibleSpace: {{ appBar.flexibleSpace }},{% endif %}
    {% if appBar.automaticallyImplyLeading is defined %}automaticallyImplyLeading: {{ appBar.automaticallyImplyLeading|lower }},{% endif %}
    ),
{% endif %}
{% if body %}body: {{ body }},{% endif %}
{% if floatingActionButton %}floatingActionButton: {{ floatingActionButton }},{% endif %}
{% if floatingActionButtonLocation %}floatingActionButtonLocation: {{ floatingActionButtonLocation }},{% endif %}
{% if floatingActionButtonAnimator %}floatingActionButtonAnimator: {{ floatingActionButtonAnimator }},{% endif %}
{% if persistentFooterButtons %}
    persistentFooterButtons: [
    {% for button in persistentFooterButtons %}
        {{ button }},
    {% endfor %}
    ],
{% endif %}
{% if drawer %}drawer: {{ drawer }},{% endif %}
{% if endDrawer %}endDrawer: {{ endDrawer }},{% endif %}
{% if bottomNavigationBar %}bottomNavigationBar: {{ bottomNavigationBar }},{% endif %}
{% if bottomSheet %}bottomSheet: {{ bottomSheet }},{% endif %}
{% if backgroundColor %}backgroundColor: {{ backgroundColor }},{% endif %}
{% if resizeToAvoidBottomInset is defined %}resizeToAvoidBottomInset: {{ resizeToAvoidBottomInset|lower }},{% endif %}
{% if primary is defined %}primary: {{ primary|lower }},{% endif %}
{% if drawerDragStartBehavior %}drawerDragStartBehavior: {{ drawerDragStartBehavior }},{% endif %}
{% if extendBody is defined %}extendBody: {{ extendBody|lower }},{% endif %}
{% if extendBodyBehindAppBar is defined %}extendBodyBehindAppBar: {{ extendBodyBehindAppBar|lower }},{% endif %}
{% if drawerScrimColor %}drawerScrimColor: {{ drawerScrimColor }},{% endif %}
{% if drawerEdgeDragWidth %}drawerEdgeDragWidth: {{ drawerEdgeDragWidth }},{% endif %}
{% if drawerEnableOpenDragGesture is defined %}drawerEnableOpenDragGesture: {{ drawerEnableOpenDragGesture|lower }},{% endif %}
{% if endDrawerEnableOpenDragGesture is defined %}endDrawerEnableOpenDragGesture: {{ endDrawerEnableOpenDragGesture|lower }},{% endif %}
)