Text(
{% if use_translation %}
    AppLocalizations.of(context)!.{{ translation_key }},
{% else %}
    '{{ content }}',
{% endif %}
{% if style %}
    style: TextStyle(
    {% if style.fontSize %}fontSize: {{ style.fontSize }}.0,{% endif %}
    {% if style.fontWeight %}fontWeight: FontWeight.{{ style.fontWeight }},{% endif %}
    {% if style.color %}color: {{ style.color }},{% endif %}
    {% if style.fontStyle %}fontStyle: FontStyle.{{ style.fontStyle }},{% endif %}
    {% if style.letterSpacing %}letterSpacing: {{ style.letterSpacing }},{% endif %}
    {% if style.wordSpacing %}wordSpacing: {{ style.wordSpacing }},{% endif %}
    {% if style.height %}height: {{ style.height }},{% endif %}
    {% if style.decoration %}decoration: TextDecoration.{{ style.decoration }},{% endif %}
    ),
{% endif %}
{% if textAlign %}textAlign: TextAlign.{{ textAlign }},{% endif %}
{% if maxLines %}maxLines: {{ maxLines }},{% endif %}
{% if overflow %}overflow: TextOverflow.{{ overflow }},{% endif %}
{% if softWrap is defined %}softWrap: {{ softWrap|lower }},{% endif %}
)