name: {{ package_name.split('.')[-1] }}
description: {{ description|default('A Flutter application') }}
version: {{ version|default('1.0.0+1') }}

environment:
sdk: ">=2.19.0 <3.0.0"
flutter: ">=3.0.0"

dependencies:
flutter:
sdk: flutter
flutter_localizations:
sdk: flutter
cupertino_icons: ^1.0.5
{% for dep, version in dependencies.items() %}
    {{ dep }}: {{ version }}
{% endfor %}

dev_dependencies:
flutter_test:
sdk: flutter
flutter_lints: ^2.0.0
{% for dep, version in dev_dependencies.items() %}
    {{ dep }}: {{ version }}
{% endfor %}

flutter:
uses-material-design: true
generate: true

{% if assets %}
    assets:
    {% for asset in assets %}
        - {{ asset }}
    {% endfor %}
{% endif %}

{% if fonts %}
    fonts:
    {% for font in fonts %}
        - family: {{ font.family }}
        fonts:
        {% for font_file in font.fonts %}
            - asset: {{ font_file.asset }}
            {% if font_file.weight %}weight: {{ font_file.weight }}{% endif %}
            {% if font_file.style %}style: {{ font_file.style }}{% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}